@font-face {
	font-family: 'Bebas-Neue';
	src: url('fonts/BebasNeue.otf');
}
@font-face {
	font-family: 'Gotham-Light';
	src: url('fonts/gotham-rounded-light.otf');
}
body {
	text-align: center;
}
h1 {
	font-family: Gotham-Light;
	font-size: 30px;
}
img {
	width: 48px;
	height: 48px;
}